<div class="profile-container m-0 p-0">

  <div class="profile-details p-0">
    <h1 class="profile-header">Your Details</h1>
    <div class="card-profile">
      <p class="profile-text"><strong>Email:</strong> <%= @user.email %></p>
      <p class="profile-text2"><%= @user.address %></p>
    </div>
  </div>

  <div class="orders-offers-container">
    <div class="offers-card col-5">
      <% if current_user.offers.any? %>
        <h3 class="o-f-text mb-4 "><strong>Your Offers</strong></h3>
        <% @offers.order(created_at: :desc).each do |offer| %>
          <div class="mb-4" style="box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1)">
            <div class="offers-card">
              <p class="profile-card-text"><strong>Title:</strong> <%= offer.title %></p>
              <p class="profile-card-text"><strong>Description:</strong> <%= offer.description %></p>
              <p class="profile-card-text"><strong>Quantity remaining:</strong> <%= offer.quantity %></p>
              <p class="profile-card-text"><strong>Number of orders:</strong> <%= offer.orders.count %></p>
              <p class="profile-card-text"><strong>Quantities ordered:</strong> <%= offer.orders.sum(:quantity) %></p>
              <p class="profile-card-text"><strong>Pickup time start:</strong> <%= offer.pickup_time_start.hour %> :0<%= offer.pickup_time_start.min %></p>
            </div>
          </div>
        <% end %>
        <br>
        <br>
      <% end %>
    </div>
    <div class="orders-card col-5">
      <% if current_user.orders.any? %>
        <h3 class="o-f-text mb-4 "><strong>Your Orders</strong></h3>
        <% @orders.order(created_at: :desc).each do |order| %>
          <div class="mb-4" style="box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1)">
            <div class="orders-card">
              <h5 class="profile-card-text"><strong>Order:</strong> <%= order.offer.title %></h5>
              <p class="profile-card-text"><strong>Shop:</strong> <%= order.offer.shop %></p>
              <p class="profile-card-text"><strong>Price:</strong> <%= number_to_currency(order.offer.unit_price) %></p>
              <p class="profile-card-text"><strong>Order date:</strong> <%= order.offer.created_at %></p>
              <p class="profile-card-text"><strong>Delivery date:</strong> <%= order.offer.pickup_time_end %></p>
              <p class="profile-card-text"><strong>Quantity:</strong> <%= order.quantity %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
    <%= link_to "Back to Shopping", new_user_session_path, class: "prodile-btn btn-primary mt-4", style: "width: 15%;" %>
</div>
