<div class="custom-forgot-password-form">
  <h2>Forgot your password?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="input-group">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" },
                    label: "Email",
                    label_html: { class: "form-label" } %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Send me reset password instructions", class: "btn-submit" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
