<div class="navbar">
  <div class="nav-logo">
    <%= link_to root_path do %>
      <h4>EcoBites</h4>
    <% end %>
  </div>
      <div class="search-box">
        <div class=".col-md-6 ">
            <%= form_with url: root_path, method: :get, class: "d-flex align-items-baseline" do %>
                <%= text_field_tag :query, params[:query], class: "form-control form-control-sm search-input", placeholder: "Search" %>
              <%= submit_tag "Go", name: "", class: "btn btn-primary btn-sm search-button ml-2" %>
            <% end %>
          </div>
      </div>

  <div class="dropdown">
    <a href="#" class="avatar-toggle" id="avatarToggle">
      <i class="fa fa-user" aria-hidden="true"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="avatarToggle">
      <% if user_signed_in? %>
        <li><%= link_to "Profile", "/user", class: "dropdown-item" %></li>
        <li><hr class="dropdown-divider"></li>
        <li><%= link_to "Create an offer", new_offer_path, class: "dropdown-item" %></li>
        <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %></li>
        <li><%= link_to "Sign in", new_user_session_path, class: "dropdown-item" %></li>
      <% end %>
      <!--<li><%#= link_to "Go to Map", map_path, class: "dropdown-item" %></li>-->
    </ul>
  </div>
</div>
<!--  javacript for the avatar-->
<script>
  document.getElementById('avatarToggle').addEventListener('click', function (event) {
    event.stopPropagation(); // Prevent the click event from propagating to the document

    const dropdownMenu = document.querySelector('.dropdown-menu');
    dropdownMenu.classList.toggle('show');
  });

  // Close the dropdown when clicking outside of it
  document.addEventListener('click', function () {
    const dropdownMenu = document.querySelector('.dropdown-menu');
    if (dropdownMenu.classList.contains('show')) {
      dropdownMenu.classList.remove('show');
    }
  });
</script>
