<div class="container">
  <h1>Welcome to EcoBites</h1>

  <h2>Hot deals <i class="fas fa-fire"></i></h2>
  <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <% @offers.each_with_index do |offer, index| %>
        <div class="carousel-item <%= index.zero? ? 'active' : '' %>">
          <div class="card">
            <div class="wrapper">
              <%= image_tag(offer.photo.url, class: 'card-img-top', alt: 'Card image cap') if offer.photo.attached? %>
            </div>
            <div class="card-body">
              <div>
                <h5 class="card-title"><%= offer.title %></h5>
                <p class="card-text">Price: <%= number_to_currency(offer.unit_price) %></p>
              </div>
              <%= link_to "Get this deal", offer_path(offer), class: "btn btn-primary m-2" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>
