<div class="custom-container mx-auto mb-5" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); padding: 20px; margin-top: 5px; border-radius: 5px; background-color: #F9F9F9; width: 620px; display: flex; justify-content: center; flex-direction: column; border-radius: 9px">
  <div class="p-4">
    <div class="row justify-content-center">
      <h1 style = "font-size: 32px" ><strong><%= offer.shop %></h1></strong>
      <%= image_tag offer.photo, style: "box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); border-radius: 5px; margin-bottom: 6px; width: 360px; height: 360px; object-fit: cover; padding: 0px" %>
      <h3 class="offer-title mt-1 mb-2" style = "font-size: 22px"><strong><%= offer.title %></h3></strong>
      <p class="offer-description mb-2" ><%= offer.description %></p>
      <p class="offer-description mb-2"> <strong >Address: </strong> <%= offer.user.address %></p>
      <p class="offer-price mb-2"> <strong> Price: </strong> <%= offer.unit_price %></p>

      <p class="mt-2"><strong>Pick up time starts at <%= offer.pickup_time_start.hour %> :0<%= offer.pickup_time_start.min %>H</strong></p>

      <%= simple_form_for [offer, order] do |f| %>
        <%= f.input :quantity, as: :select, collection: 1..10, prompt: "Select quantity" %>
        <%= f.submit "Reserve this offer", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
