<section class="container" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); padding: 10px; margin-top: 5px; border-radius: 5px; background-color: #F9F9F9;">
  <div class="row justify-content-center">
      <article class="col-md-6 col-lg-4">
          <header>
              <h1><%= offer.shop %></h1>
          </header>
          <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Offer image for <%= offer.title %>" class="img-fluid rounded-lg large-image" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1); border-radius: 5px; margin-bottom: 15px;">
          <h3 class="offer-title mt-3"><%= offer.title %></h3>
          <p class="offer-description"><%= offer.description %></p>
          <p class="offer-description">Address: <%= offer.user.address %></p>
          <p class="offer-price">Price: <%= offer.unit_price %></p>

          <p class="mt-2"><strong>Pick up time starts at <%= offer.pickup_time_start.hour %> :0<%= offer.pickup_time_start.min %>H</strong></p>
          
          <%= simple_form_for [offer, order] do |f| %>
            <%= f.input :quantity, as: :select, collection: 1..10, prompt: "Select quantity" %>
            <%= f.submit "Reserve this offer", class: "btn btn-primary" %>
          <% end %>
      </article>
  </div>
</section>
