<div class="container" style="width: 500px;">
  <%= simple_form_for(@offer) do |f| %>
    <%= f.input :shop %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :quantity, as: :integer %>
    <%= f.input :unit_price, as: :float %>
    <%= f.input :pickup_instructions %>
    <%= f.input :pickup_time_start, as: :time %>
    <%= f.input :pickup_time_end, as: :time %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
  <% end %>
</div>
